#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "custom.h"
#include "behaviors.dtsi"

// Layer aliases
#define BASE 0
#define NAV 1
#define SYM 2
#define NUM 3
#define MEDIA 4


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
// --------------------------------------------------------------------------------
// |      |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  ;  |      |
// |      |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |      |
// |      |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  /  |      |
//                    | DEL | BSPC| RET |   | TAB | SPC  | ESC |
            bindings = <
U_NP &kp Q             &kp D             &kp R             &kp W             &kp B            &kp J              &kp F              &kp U              &kp P           &kp SEMI              U_NP
U_NP U_MT(LGUI, A)     U_MT(LALT, S)     U_MT(LCTRL, H)    U_MT(LSHFT, T)    &kp G            &kp Y              U_MT(LSHFT, N)     U_MT(LCTRL, E)     U_MT(LALT, O)   U_MT(LGUI, I)         U_NP
U_NP U_LT(U_BUTTON, Z) U_MT(RALT, X)     &kp M             &kp C             &kp V            &kp K              &kp L              &kp COMMA          U_MT(RALT, DOT) U_LT(U_BUTTON, SLASH) U_NP
// U_NP U_NP              U_NP              U_LT(U_FUN, DEL)  U_LT(NUM, BSPC)   U_LT(SYM, RET)   U_LT(U_MOUSE, TAB) U_LT(NAV, SPACE)   U_LT(U_MEDIA, ESC) U_NP            U_NP                  U_NP
U_NP U_NP              U_NP              U_LT(NAV, DEL)  U_LT(NUM, BSPC)   U_LT(SYM, RET)   U_LT(NAV, TAB) U_LT(NAV, SPACE)   U_LT(NAV, ESC) U_NP            U_NP                  U_NP
            >;
        };

        navigation_layer {
            display-name = "NAV";
            bindings = <
U_NP  &kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp K_AGAIN    U_NA  U_NA       U_NA       U_NA      U_NA      U_NP          
U_NP  &kp LEFT    &kp DOWN   &kp UP      &kp RIGHT    &kp CAPS       U_NA  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  U_NP
U_NP  &kp HOME    &kp PG_DN  &kp PG_UP   &kp END      &kp INS        U_NA  U_NA       &kp RCTRL  &kp RALT  U_NA      U_NP
U_NP  U_NP        U_NP       &kp DEL     &kp BSPC     &kp RET        U_NA  U_NA       U_NA       U_NP      U_NP      U_NP
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
U_NP  U_NA      U_NA      U_NA       U_NA       U_NA    &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR  &kp RBRC   U_NP
U_NP  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  U_NA    &kp PLUS   &kp DLLR  &kp PRCNT  &kp CARET &kp DQT    U_NP
U_NP  U_NA      &kp RALT  &kp RCTRL  U_NA       U_NA    &kp PIPE   &kp EXCL  &kp AT     &kp HASH  &kp TILDE  U_NP
U_NP  U_NP      U_NP      U_NA       U_NA       U_NA    &kp UNDER  &kp LPAR  &kp RPAR   U_NP      U_NP       U_NP
            >;
        };

        number_layer {
            display-name = "NUMBER";
            bindings = <
U_NP  U_NA      U_NA      U_NA       U_NA       U_NA    &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT   U_NP
U_NP  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  U_NA    &kp EQUAL  &kp N4  &kp N5   &kp N6  &kp SQT    U_NP
U_NP  U_NA      &kp RALT  &kp RCTRL  U_NA       U_NA    &kp BSLH   &kp N1  &kp N2   &kp N3  &kp GRAVE  U_NP
U_NP  U_NP      U_NP      U_NA       U_NA       U_NA    &kp MINUS  &kp N0  &kp DOT  U_NP    U_NP       U_NP
            >;
        };
    };
};
