#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#include "custom.h"

// #include "shift_functions.dtsi"

// Layer aliases
#define BASE 0
#define NAV 1
#define SYM 2
#define NUM 3
#define MEDIA 4

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <U_TAPPING_TERM>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <U_TAPPING_TERM>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &none         &kp Q         &kp D         &kp R         &kp W         &kp B             &kp J         &kp F         &kp U         &kp P         &kp SEMI      &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &mt LGUI A    &mt LALT S    &mt LCTRL H   &mt LSHFT T   &kp G             &kp Y         &mt LSHFT N   &mt LCTRL E   &mt LALT O    &mt LGUI I    &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &kp Z         &mt RALT X    &kp M         &kp C         &kp V             &kp K         &kp L         &kp COMMA     &mt RALT DOT  &kp SLASH     &none
// ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                               &lt NAV DEL   &lt NUM BSPC  &lt SYM RET       &lt NAV TAB   &lt NAV SPACE &lt MEDIA ESC
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        navigation_layer {
            display-name = "NAV";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &none         &kp K_UNDO    &kp K_CUT     &kp K_COPY    &kp K_PASTE   &kp K_AGAIN       &none         &none         &none         &none         &none         &none          
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp CAPS          &none         &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI      &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &kp INS           &none         &none         &kp RCTRL     &kp RALT      &none         &none
// ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                               &kp DEL       &kp BSPC      &kp RET           &none         &none         &none
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &none         &none         &none         &none         &none         &none             &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC      &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none             &kp PLUS      &kp DLLR      &kp PRCNT     &kp CARET     &kp DQT       &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &none         &kp RALT      &kp RCTRL     &none         &none             &kp PIPE      &kp EXCL      &kp AT        &kp HASH      &kp TILDE     &none
// ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                               &none         &none         &none             &kp UNDER     &kp LPAR      &kp RPAR
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        number_layer {
            display-name = "NUMBER";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &none         &none         &none         &none         &none         &none             &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT      &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none             &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp SQT       &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &none         &none         &kp RALT      &kp RCTRL     &none         &none             &kp BSLH      &kp N1        &kp N2        &kp N3        &kp GRAVE     &none
// ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                               &none         &none         &none             &kp MINUS     &kp N0        &kp DOT
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

//         media_layer {
//             display-name = "MEDIA";
//             bindings = <
// // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      &none         &u_rgb_eff    &u_rgb_hui    &u_rgb_sai    &u_rgb_bri    &u_rgb_tog        &none         &none         &none         &none         &bootloader   &none
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      &none         &kp C_PREV    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT    &u_ep_tog         &none         &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI      &none
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      &none         &u_bt_sel_0   &u_bt_sel_1   &u_bt_sel_2   &none         &u_out_tog        &none         &bt BT_CLR_ALL &none        &kp RALT      &none         &none
// // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
//                                                &kp C_MUTE    &kp C_PP      &kp C_STOP        &none         &none         &none
// //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
//             >;
//         };
    };
};
